.example-parent {
    border: 2px solid #FFA500;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .simple-draggable {
    background-color: #00FFFF;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }

  .nested-draggable {
    background-color: #00FFFF;
    display: flex;
    gap: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }

  .nested-dropzone {
    background-color: white;
    padding: 0.5rem;
    min-width: 20%;
    min-height: 80%;
  }
  
  .canvas-dropzone {
    background-color: #008000;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

  .trash-dropzone {
    background-color: #FF0000;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}